IO_LOC  "row[3]" 25;
IO_PORT "row[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "row[2]" 26;
IO_PORT "row[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "row[1]" 27;
IO_PORT "row[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "row[0]" 28;
IO_PORT "row[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rst" 3;
IO_PORT "rst" IO_TYPE=LVCMOS18;
